
.wrapper-container{
    width: 300px;
    height: 200px;
    margin: 20px auto;
    background-color: rgb(0, 179, 255);
}

.meeting-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}